@if (chargement()) {
  <div class="arc-chiffres">
    @for (i of [1, 2, 3, 4]; track i) {
      <div class="arc-chiffre">
        <span class="arc-etiquette">Chargement</span>
        <div class="arc-squelette arc-squelette--chiffre" aria-hidden="true"></div>
      </div>
    }
  </div>
} @else if (synthese(); as s) {
  <div class="arc-chiffres">
    <div class="arc-chiffre">
      <span class="arc-etiquette">Réclamé</span>
      <div class="arc-chiffre__valeur">
        {{ s.montant_reclame | montant: '' }}<span class="arc-chiffre__devise">{{ s.devise }}</span>
      </div>
      <div class="arc-chiffre__note">Sur {{ s.nombre_dettes }} dette(s)</div>
    </div>

    <div class="arc-chiffre">
      <span class="arc-etiquette">Reconnu</span>
      <div class="arc-chiffre__valeur">
        {{ s.montant_reconnu | montant: '' }}<span class="arc-chiffre__devise">{{ s.devise }}</span>
      </div>
      <div class="arc-chiffre__note">Base du recouvrement</div>
    </div>

    <div class="arc-chiffre arc-chiffre--sortie">
      <span class="arc-etiquette">Versé</span>
      <div class="arc-chiffre__valeur">
        {{ s.montant_verse | montant: '' }}<span class="arc-chiffre__devise">{{ s.devise }}</span>
      </div>
      <div class="arc-chiffre__note">{{ s.taux_recouvrement }} % du reconnu</div>
    </div>

    <div class="arc-chiffre arc-chiffre--du">
      <span class="arc-etiquette">Solde</span>
      <div class="arc-chiffre__valeur">
        {{ s.solde | montant: '' }}<span class="arc-chiffre__devise">{{ s.devise }}</span>
      </div>
      <div class="arc-chiffre__note">{{ note() }}</div>
    </div>
  </div>
}
